::-webkit-scrollbar { 
    display: none; 
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: lightgreen;
}
.container {
  display: block;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}
.container span {
  display: inline-block;
  width: 50px;
  height: 20px;
}